    # Reboot Node If Required
    - name: Check if a reboot is required.
      stat:
        path: /var/run/reboot-required
        get_checksum: false
      register: reboot_required_file
    - name: Reboot the server (if required).
      reboot:
      when: reboot_required_file.stat.exists == true
