global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - '192.168.1.21:9100'
          - '192.168.1.22:9100'
          - '192.168.1.23:9100'
