---
- name: Get Uptime
  hosts: all
  become: yes
  tasks:
    # APT Update
    - name: Apt Update
      command: "sudo apt update"
      register: apt_update
    - name: Update Output
      debug:
        var: apt_update.stdout_lines

    # APT Upgrade
    - name: Apt Upgrade
      command: "sudo apt upgrade --autoremove -y"
      register: apt_upgrade
    - name: Upgrade Output
      debug:
        var: apt_upgrade.stdout_lines

    # Docker System Prune
    - name: Docker System Prune
      command: "docker system prune -f"
      register: docker_prune_ouput
    - name: System Prune Output
      debug:
        var: docker_prune_ouput.stdout_lines

    # Display Cluster Node Uptime
    - name: Get Current Uptime
      command: "uptime"
      register: uptime_output
    - name: Uptime Output
      debug:
        var: uptime_output.stdout_lines