#########################
# Setup Prerequisites
#########################
- name: Setup NFS Node
  hosts: nfshost
  become: true
  
  collections: 
    - ansible.posix
    
  vars: 
    device_path: /dev/sdb1
    filesystem_type: ext4
    nfs_mount_point: /mnt/nfs
    nfs_network_cidr: "192.168.1.0/24" 
    nfs_export_options: "rw,sync,no_subtree_check,root_squash"

  tasks:
    # -------------------------------------------------
    # Storage Perparation
    # -------------------------------------------------
    - name: Ensure Device Has Filesystem
      tags: nfsMount
      filesystem:
        fstype: "{{ filesystem_type }}"
        dev: "{{ device_path }}"
      when: filesystem_type is defined

    - name: Ensure NFS Export Directory Exists
      tags: nfsMount
      file:
        path: "{{ nfs_mount_point }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Ensure Filesystem is Mounted
      ansible.posix.mount:
        path: "{{ nfs_mount_point }}"
        src: "{{ device_path }}"
        fstype: "{{ filesystem_type }}"
        opts: defaults
        state: present

    # -------------------------------------------------
    # NFS Server Installation
    # -------------------------------------------------
    - name: Install NFS Packages
      tags: nfsInstall
      apt:
        name: nfs-kernel-server
        state: present
        update_cache: yes 

    # -------------------------------------------------
    # NFS Server Configuration
    # -------------------------------------------------
    - name: Configure NFS Export 
      tags: nfsExports
      copy:
        dest: /etc/exports
        content: |
          {{ nfs_mount_point }} {{ nfs_network_cidr }}({{ nfs_export_options }})
      notify: reload nfs

    - name: Ensure NFS service is enabled and running
      tags: nfsService
      service:
        name: nfs-kernel-server
        state: started
        enabled: yes

  handlers:
    - name: reload nfs
      command: exportfs -ra

- name: Install showmount (nfs-common) on all Swarm nodes
  hosts: cluster
  become: yes

  tasks:
    - name: Install nfs-common (provides showmount)
      apt:
        name: nfs-common
        state: present
        update_cache: no
